<!DOCTYPE html>
<html>
    <head>
        <title>Word Gen</title>
    </head>
    <body>
        <div id="content">
            <p>Random Word (attempt # {{request.session.count}})</p>
            <div id="randWord">
            </div>
            <div>
              <div>
                {{ word }}
              </div>
            </div>
            <form action='/randomword' method="POST">
                {% csrf_token %}
                <input type="submit" name="submit" value="Generate">
            </form>

            <form action='/reset' method='POST'>
                {% csrf_token %}
                <input type='submit' name='submit' value='Reset'>
            </form>
        </div>
    </body>
</html>