<html>
    <head>
        <title>Emails</title>  
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action='/register' method='POST'>
            <label for="first_name">Email Address:<input type="text" name="email" id="email"></label>
        <input type="submit" value="Add">
        </form>
    </body>
</html>