<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
        <style>
            ul {
            list-style-type: none;
            }
        </style>
    </head>
    <body>
        <header>
            <a href="/books">Home</a> <a href="/books/add">Add Book and Review</a> <a href="/logout">Logout</a>
        </header>
        <div>
            <p>User Alias: {{user.alias}}</p>
            <p>Name: {{user.first_name}}</p>
            <p>Email: {{user.email}}</p>
            <p>Total Reviews: {{count}}</p>
        </div>
        <div>
            <h2>Posted Reviews on the following books:</h2>
                <ul>
                    {% for book in books %}
                        <p><a href="/book/{{book.id}}">{{book.name}}</a></p>
                    {% endfor %}
                </ul>
        </div>
    </body>
</html>