<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ninjaGold.css') }}">
    </head>
    <body>
        <h3>Your Gold: <span>{{session["gold"]}}</span></h3>
        <div id="holder">
            <div id="farm" class="earn">
                <h2>Farm</h2>
                <p>Earns 10-20 Gold</p>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="farm">
                    <input type="submit" value="Find Gold!" />
                </form>
            </div>
            <div id="cave" class="earn">
                <h2>Cave</h2>
                <p>Earns 5-10 Gold</p>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="cave">
                    <input type="submit" value="Find Gold!" />
                </form>
            </div>
            <div id="house" class="earn">
                <h2>House</h2>
                <p>Earns 2-5 Gold</p>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="house">
                    <input type="submit" value="Find Gold!" />
                </form>
            </div>
            <div id="casino" class="earn">
                <h2>Casino</h2>
                <p>Earns or Takes 0-50 Gold</p>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="casino">
                    <input type="submit" value="Find Gold!" />
                </form>
            </div>
        </div>
        <p>Activities</p>
        <div id="activities">
            {% for activity in session['activities'] %}
                {% if 'Earned' in activity %}
                    <p class='win'>{{ activity }}</p>
                {% else %}
                    <p class='lose'>{{ activity }}</p>
                {% endif %}
            {% endfor %}
        </div>
        <footer>
            <form action="/reset" method="post">
                <input type="submit" value="Reset" />
            </form>
        </footer>
    </body>
</html>