<!DOCTYPE html>
<html>
    <head>
        <title>Session Words</title>
    </head>
    <body>
        <div id="content">
            <div id='add'>
                <form action='/add' method="POST">
                    {% csrf_token %}
                    <label>Add a new Word:</label><input type="text" name="word"><br/>
                    <p>Choose a color</p>
                    <input type="radio" name="color" value="red"> Red<br>
                    <input type="radio" name="color" value="green"> Green<br>
                    <input type="radio" name="color" value="blue"> Blue<br>
                    <input type="checkbox" name="size" value="size">Big<br>
                    <input type="submit" name="submit" value="Add to Session">
                </form>
            </div>
            <div id='words'>
                <form action='/clear' method="POST">
                    {% csrf_token %}
                    <input type="submit" name="submit" value="Clear Session">
                </form>

                {% if request.session.allWords %}
                    {% for word in request.session.allWords %}
                    <p style="color:{{ word.color }};font-size: {{word.font}}">{{word.word}} {{word.created_at}}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </body>
</html>