<!DOCTYPE html>
<html>
    <head>
        <style>
            input {
                display: block;
            }
            .error {
                color: red;
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <p>Welcome, {{request.session.name}} <a href="/logout">Logout</a></p>
        <h1>{{name}}</h1>
        <h2>List of people in range range</h2>
        {% for user in users %}
            <p>{{user.name}} Age: {{user.age}}</p>
        {% endfor %}
        <h2>Comments by this group</h2>
        {% for comment in comments %}
            <p>{{comment.content}} By: {{comment.user.name}}</p>
        {% endfor %}

        <!-- If the user logged in user is in the age group show this -->
        {% if ableAdd == True %}
            <a href="/users/add/{{low}}/{{up}}">Add a comment</a>
        {% endif %}
        {% if ableAdd == False %}
            <p class="error">You must be in this age range to post a comment </p>
        {% endif %}
    </body>
</html>